* {
    margin: 0;
    padding: 0;
}

.serch {
    position: relative;
    height: 55px;
    width: 80%;
    min-width: 250px;
    background-color: #fc6;
    padding: 5px;
    margin: 10px auto 0;
}

#field {
    width: 95%;
    min-width: 100px;
    height: 35px;
    font-size: 18px;
    line-height: 2em;
}

label {
    margin-left: 5px;
    font-family: Arial;
}

#check_on_web {
    vertical-align: middle;
}

.button {
    display: inline-block;
    height: 35px;
    width: 90px;
    border-radius: 5px;
    background-color: #ededed;
}

.wrapper {
    box-sizing: border-box;
    height: 45px;
    width: 100px;
    padding: 5px 0 5px 5px;
    background-color: #fc6;
    position: absolute;
    top: 0;
    right: 10px;
}

div.wrapper:after {
    content: "";
    display: inline-block;
    border: 33px solid;
    width: 0;
    height: 0;
    border-color: #fff #fff #fff #fc6;
    position: absolute;
    right: -73px;
    top: 0;
}