div{
    background:#fafafa;
    width:750px;
}
li{
    display:inline-block;
    text-align:center;


}
.d1{
    padding:5px;
    color:#9f7feb;
}
.d2{
    padding:10px;
    width:25px;

    background:white;
    border-radius:5px;
    border:1px solid grey;
    color:#9f7feb;

}
.d2:hover{
          background:#9f3dcc;
          color:white;
}
.d1:hover{color:black;}