div{
    background:whitesmoke;
    width:750px;
}
li{
    display:inline-block;
    text-align:center;

}
.d1{
    padding:5px;
    color:palevioletred;
}
.d2{
    padding:3px;
    width:20px;
    height:20px;
    background:white;
    border-radius:5px;
    border:1px solid grey;
    color:palevioletred;

}
.d2:hover{
          background:palevioletred;
          color:white;
}
.d1:hover{color:black;}