body{
    min-width: 1020px;
    width: auto;

}
.all{
    box-sizing: border-box;

    min-width: 1400px;

}
.header{
    margin:0px auto;
    background:white;
    width:1020px;
    height: 115px;
}
.logo{
    position:absolute;
    top:45px;
    bottom:45px;
    float: left;
    padding:20px 0;
    height: 30px;
}
.nav li{

    display: inline-block;
    float:right;
    color:#dfdfdf;
    font-size:10px Myriad Pro,sans-serif;
    margin-right: 30px;
    text-transform: uppercase;

}
nav li:last-child{
    margin-right:0px;
}
.nav{

    position: absolute;
    top:65px;
    left:500px;

}
.nav ul{
    position: absolute;
    top:65px;
    left:480px;
    bottom:40px;


}
.nav li:hover{
    border-bottom: 3px solid #3070a8;
    color: #3070a8;
    cursor: pointer
}
.banner{
    height: 580px;

    background: url("Banner.bmp") no-repeat;
    background-size: cover;

}
.text {
    text-align: center;
    padding-top: 120px;
    color:white;
}
h2{
    font-family: "Futura Bt Book",sans-serif;
    font-size: 36px;
    font-weight: 400;
}
h1{
    display: block;
    font-family: "Futura Bt Bold",sans-serif;
    font-size: 46px;
    font-weight: bold;
    margin-top: 6px;
    text-transform: uppercase;

}
.text p{
    font-family: "Calibri Italic",sans-serif;
    font-size: 20px;
    font-style: italic;
    line-height: 1.5;
    margin-top: 21px;
    padding: 0 155px;
    text-align: center;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);

}
button{

    width: 245px;
    height: 58px;
    border: 2px solid;
    color: rgba(255,255,255,.3);
    margin: 46px auto;
    box-sizing: border-box;
    margin-top: 18px;
    margin-left: 65px;
    color: #fff;
    font-family: 'Trebuchet MS', 'Futura BT', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    background:none;
}
/*==============================================================================================================*/

/*=============================================================================================*/
.choose{
    text-align: center;
    font-family: "Trebuchet MS";
    min-width: 900px;
}
.choose h1{
    font-size: 30px;
    color: #41525c;
    font-weight: bold;
    text-transform: uppercase;
}
.choose h2{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
}
h3{
    color: #41525c;
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
}
.blue h3,
.green h3{
    top:65px;
}
.conteiner{
    display: inline-block;
    border: 1px solid #e8eaec;
    border-radius: 5px;
    width: 291px;
    height: 444px;
}
.conteinerOrange{
    position: relative;
    bottom:13px;
    display: inline-block;
    border: 4px solid #ec8136;
    border-radius: 5px;
    width: 280px;
    height: 465px;
    z-index: 10;
    box-shadow: 0 0 13px 0.2px rgba(21, 117, 175, 0.3);
}
.blue{
    position: relative;
    left: 7px;
    z-index: 5;
}
.green{
    position: relative;
    right: 7px;
    z-index: 5;
}
.headTwo{
    background-color: #ec8136;
    width: 280px;
    height: 88px;
    position: absolute;
    top: 0;
}
.headOne{
    width: 291px;
    height: 74px;
    background-color: #37c2d3;
    border-radius: 5px 5px 0 0;
    position: absolute;
    top: 0;
}
.headThree{
    width: 291px;
    height: 74px;
    background-color: #1cb79a;
    border-radius: 5px 5px 0 0;
    position: absolute;
    top: 0;
}
.choose p {
    position: relative;
    top: 120px;
    color: #364959;
    margin-bottom: 30px;
}
.cost{
    font-size: 72px;
    font-weight: bold;
    position: absolute;
    left: 80px;
}
.dollar{
    font-size: 26px;
    font-weight: bold;
    position: absolute;
    top: 5px;
    left: 65px;
}
.monthly{
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 60px;
    left: 160px;
}
.conteinerOrange p{
    top:132px;
}
.choose ul{
    position: relative;
    list-style: none;
    text-align: left;
    top:220px;
    font-size: 15px;
    color: #888c94;
}
.conteinerOrange ul{
    top:233px;
}
.choose li:nth-child(odd){
    background-color: #eef5fc;
    margin-bottom: 1px;
}
.choose li:nth-child(even){
    background-color: #f5f5f6;
    margin-bottom: 1px;
}
.choose li:before{
    content: url(../LESSON7/bul.png);
    margin: 0 15px 0 30px;
}
.choose li {
    display:block;
    padding: 5px 0 5px 0;
    margin: 0 20px 2px -20px;
}
.choose input{
    position: relative;
    top: 220px;
    width: 253px;
    font-size: 14px;
    color: #ffffff;
    background-color: #3371a6;
    box-shadow: 0 3px 0 0 #16436a;
    border-radius: 5px;
    padding: 10px 0;
    font-weight: bold;
    border: none;
}
.choose input:hover{
    box-shadow: none;
}
.conteinerOrange input{
    background-color: #ec8136;
    box-shadow: 0 3px 0 0 #b1561b;
    top: 233px;
}
/*===============================================================================*/
.clientSays{
    background-image: url("../LESSON7/Background.png");
    padding-bottom: 40px;
    padding-top: 10px;
    text-align: center;
    background-repeat: repeat;
    min-width: 750px;
    width:1400px;


}
.clientSays h2{
    font-size: 40px;
    font-family: "Trebuchet MS";
    color: rgb(238, 129, 41);
}
.blueTextHover{
    color: rgb(48, 112, 168);
}
.respond{
    display: inline-block;
    margin-bottom: 40px;
}
.textIcon{
    display: inline-block;
    background-color: #ffffff;
    box-sizing: border-box;
    width: 378px;
    height: 98px;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(224, 224, 224);
    padding: 10px;
}
hr{
    border:1px dotted #000000;
    clear: both;
}
.userName,
.userStatus{
    font-size: 13px;
    font-family: "Trebuchet MS";
    color: rgb(48, 112, 168);
    font-style: italic;
    margin-bottom: 5px;

}
.userName:before{
    content: "- ";
}
.arrow{
    display: inline-block;
    width: 0;
    height: 0;
    border: 15px solid;
    border-color:transparent #fff transparent transparent ;
    position: relative;
    left: 5px;
    bottom: 40px;
}
.userName{float: left;}
.userStatus{float: right;}
.textIcon p{
    font-size: 13px;
    font-family: "Trebuchet MS";
    color: rgb(102, 102, 102);
    text-align: left;
    line-height: 1.538;
}
img{
    position: relative;
    left: 15px;
    margin-left: 25px;
}

/*==========================================================================================================*/
.dance{
    position:relative;
    top:90px;
}
.middle{
    background-image:url("middle.jpg");
    width:1400px;
    height:585px;
}
.conteiner_middle{
    position: absolute;
    width:1020px;
    left:190px;

}
.middle h1{
    font-size:26px ;
    color:#7b4f2a;
    font-family: 'Trebuchet MS', 'Futura BT', sans-serif;
}
.middle p{
    font-size:19px;
    font-family: "Calibri Italic",sans-serif;
    font-style: italic;
    color:#dfe0e0;
}
.middle_ul{
    position:relative;
    top:30px;
    list-style: none;
}
.middle_ul li{
    color:#424342;
    font-size:14px;
    font-family: "Trebuchet MS";
}
.middle_ul .blue{
    color:#4a6fa4;
    font-size:14px;
    font-family: "Trebuchet MS";
}
/*================================================================================*/


.conteiner_s{
    text-align: center;
    width:1020px;
    position:relative;
    left:190px;
    height: 560px;
    top:70px;
}
.conteiner_s h1{
    font-size:30px;
    font-family: 'Trebuchet MS', 'Futura BT', sans-serif;
}
.conteiner_s tr{
    width:33%;
}
.name_images td{
    font-family: "Futura Bt Book";
    font-size:30px;
    color:#4a6fa4;
    position:relative;
    left:20px;
}
.text_s td{
    font-family: 'Trebuchet MS', 'Futura BT', sans-serif;
    font-size: 14px;
    color:#d9d9d9;
}
/*=============================================================*/

.footer{

    background-color:#FFF;
    width: 1400px;
}
.footer_wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.footer__contact{
    font-size: 14px;
    font-family: "OpenSans-Regular";
    text-align: left;
    color: rgb(102, 102, 102);
    line-height: 2.1;
    position: relative;
    top:42px;
    left: 250px;
    flex: 1;
}
.footer__map{
    flex:1;
    height: 345px;
    background: url(footer_map.png) no-repeat;
}
.footer__dev{
    font-size: 14px;
    font-family: "OpenSans-Regular";
    color: rgb(255, 255, 255);
    line-height: 2.143;
    text-align: center;
    background-color: #3070a8;
    width: 1400px;
    padding: 20px 0;
    margin: 0;
}
.footer__dev_addres{font-style: normal;}
.footer__dev_link{text-decoration: none;
    color: #000;
}
.footer__contact_phone:before {
    content: url("footer_icon_phone.png");
    position:absolute;
    left: -60px;
    top: 125px;
}
.footer__contact_phone{
    line-height: 3.5;
}
.footer__contact_name:before{
    content: url("footer_icon_location.png");
    position: absolute;
    left: -60px;
}
.footer__contact_mail:before{
    content: url("footer_icon_mail.png");
    position: absolute;
    left: -60px;
}
.footer__contact_icon{
    position: absolute;
    bottom: 125px;
    left:190px;
}
.footer__contact_icon_fb,
.footer__contact_icon_tw{
    margin-right: 15px;
}
